.card_page {
  display: flex;
  align-items: center;
  gap: 5rem;

  &__form {
    margin-top: 300px;
  }
  
  &__template_info__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__template {
    background-color: rgb(68, 69, 142);
    width: 400px;
    height: 250px;
    border-radius: 8px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 30px;
  }
}

@media screen and (max-width: 730px) {
  .card_page {
    flex-direction: column;
gap: 2rem;

  }
}


@media screen and (max-width: 470px) {
  .card_page__template {
    width: 350px;
    height: 200px;

  }
}


@media screen and (max-width: 400px) {
  .card_page__template {
    width: 270px;
    height: 180px;

  }
}