.sort {
  margin-bottom: 3rem;
  
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 340px) {
  .sort__buttons {
    gap: 1.5rem;


  }
}